@import "./normalize/_normalize.scss";
@import "./common/_variables.scss";
@import "./common/_fonts.scss";

*,h1 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: $Title;
    font-size: 70px;
}

h2 {
    color: $Subtitle;
    font-size: 35px;
}
